.weilai-404-w { background: #fff; text-align: center; display: block; }
.weilai-404-w img{ width:45%;height: auto; padding-bottom: 50px;  }
.title-404 { padding: 60px;box-sizing: border-box; padding-top: 50px; font-size: 23px; }